* {
  text-align: center;
  font-family: arial;
  background-color: white;
}

body {
}

h1 {
  background-color: clear;
  font-size: 50px;
}

h2 {
  background-color: clear;
  font-size: 30px;
}

.board {
  background-color: clear;
  float: left;

}

.col1 {
  float: left;
  background-color: clear;
  text-align: center;
  margin: 0 auto;
}

.col2 {
  float: left;
  background-color: clear;
  text-align: center;
  margin: 0 auto;
}

.col3 {
  float: left;
  background color: green;
  text-align: center;
  margin: 0 auto;
}

.block {
  clear: left;
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: yellow;
  text-align: center;
  font-size: 80px;
  vertical-align: center;
  box-shadow: 5px 5px 5px gray;
}

